.header-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 187px 1fr;
  padding: 30px 40px;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 1280px;
  gap: 570px;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: grid;
    align-items: center;
    gap: 10px;

    &__title {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: #F1CDB3;
    }

    &__subtitle {
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
    }
  }
  .nav {
    width: 100%;

    &__list {
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: space-between;
    }

    &__item {
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #CDCDCD;

      &:hover {
        color: #FAFAFA;
      }

      &:active,
      &:first-child {
        color: #FAFAFA;
        border-bottom: 3px solid #F1CDB3;
      }
    }
  }
}