.header-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 187px 1fr;
  padding: 30px 3vw;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 1280px;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    padding: 30px 3.8vw;
  }

  @media  screen and (max-width: 380px) {
    padding: 30px 6.2vw;
  }

  .logo {
    text-align: center;

    @media screen and (max-width: 1200px) {
      text-align: center;
    }

    &__title {
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 2.3rem;
      line-height: 1.1;
      letter-spacing: 0.06em;
      color: #F1CDB3;
    }

    &__subtitle {
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 0.93rem;
      line-height: 2.5;
      letter-spacing: 0.1em;
      color: #FFFFFF;
    }
  }

  .nav {
    width: 100%;
    position: relative;
    top: -5px;

    @media screen  and (max-width: 766px) {
      display: none;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, auto);
      justify-content: right;
      gap: 35px;
    }

    &__item {
      vertical-align: top;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1.08rem;
      line-height: 1.6;
      color: #CDCDCD;

      &:hover {
        color: #FAFAFA;
        cursor: pointer;
      }

      &:active,
      &:first-child {
        color: #FAFAFA;
        border-bottom: 2px solid #F1CDB3;
      }
    }
  }

  .burger-icon {
    display: none;
    width: 30px;
	  height: 29px;
    position: absolute;
    top: 50px;
    right: 20px;
	  z-index: 200;
    overflow: hidden;

    @media screen and (max-width: 766px) {
      display: grid;
    }

    & span {
      width: 30px;
	    height: 2px;
	    background-color: #F1CDB3;
	    transition: all 0.5s;

      &:nth-of-type(2) {
        top: calc(50% - 5px);
      }

      &:nth-of-type(3) {
        top: calc(05% + 5px);
      }
    }
  }
}