.about {
  background: #FFFFFF;

  &-wrapper {
    margin: 0 auto;
    padding: 80px 40px 100px;
    width: 100vw;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    gap: 120px;
  }

  &__pets {
    padding: 0 0 0 175px;

    &__img {
      display: block;
      margin: 0 auto;
    }
  }

  .content {
    padding: 14px 175px 0 0;

    &__title {
      width: 87%;
      color: #545454;
    }

    &__text {
      padding: 25px 0 0;
    }
  }
}