.footer {
  background: url(../../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  &-wrapper {
    margin: 0 auto;
    padding: 38px 40px 0;
    width: 100vw;
    max-width: 1280px;
    height: 350px;
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 0.8fr;
    align-items: top;

    @media screen and (max-width: 1080px) {
      margin: 0 auto;
      padding: 32px 8.4vw 0;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
          "contacts location"
          "puppy puppy";
      height: auto;
    }

    @media screen and (max-width: 450px) {
      padding: 30px 3vw 0;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
          "contacts"
          "location"
          "puppy";
      row-gap: 38px;
      max-width: none;
    }
  }

  .location {
    position: relative;
    right: 10px;

    @media screen and (max-width: 1080px) {
      right: -18px;
    }

    @media screen and (max-width: 450px) {
      right: 0;
    }
  }

  .contacts,
  .location {
    max-width: 296px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 20px 0;

    @media screen and (max-width: 1080px) {
      padding: 0;
    }

    @media screen and (max-width: 450px) {
      gap: 40px;
      max-width: none;
    }

    &__title {
      color: #FFFFFF;

      @media screen and (max-width: 680px) {
        font-size: 4.5vw;
      }

      @media screen and (max-width: 450px) {
        font-size: 7.5vw;
        text-align: center;
        max-width: 70vw;
        margin: 0 auto;
      }
    }

    .mail,
    .phone,
    .boston,
    .london {
      display: grid;
      grid-template-columns: 40px auto;
      align-items: center;

      &__subtitle {
        color: #F1CDB3;

        @media screen and (max-width: 680px) {
          font-size: 3vw;
        }

        @media screen and (max-width: 450px) {
          font-size: 6.3vw;
        }
      }

      &:hover {
        color: #FDDCC4;
      }
    }
  }

  .contacts {
    gap: 40px;

    @media screen and (max-width: 450px) {
      gap: 42px;
    }

    .mail,
    .phone {
      column-gap: 20px;

      @media screen and (max-width: 450px) {
        justify-content: center;
        text-align: center;
      }
    }
  }

  .puppy {
    @media screen and (max-width: 1080px) {
      margin: 0 auto;
      grid-area: puppy;
      padding: 61px 0 0;
      vertical-align: bottom;
    }

    @media screen and (max-width: 680px) {
      padding: 0;
    }

    &__image {
      @media screen and (max-width: 680px) {
        max-width: fit-content;
        width: 81vw;
        padding: 0;
        vertical-align: top;
      }
    }
  }
}