.not-only {
  background: url(../../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  &-wrapper {
    margin: 0 auto;
    width: 100vw;
    max-width: 1280px;
    padding: 180px 40px 0;
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 42px;

    @media screen and (max-width: 1080px) {
      padding: 150px 3.8vw 0;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      gap: 100px;
    }
  }


  .content {
    padding: 163px 0 0;
    width: 460px;

    @media screen and (max-width: 1080px) {
      padding: 0 16.1vw;
      width: auto;
    }

    @media screen and (max-width: 766px) {
      padding: 0;
      text-align: center;
    }

    &__title {
      width: 67.4%;
      max-width: 360px;

      @media screen and (max-width: 766px) {
        padding: 0;
        margin: 0 auto;
        width: auto;
      }

      @media screen and (max-width: 425px) {
        font-size: 8vw;
        line-height: 1.3;
        letter-spacing: 0.06em;
      }
    }

    &__text {
      padding: 42px 0;
      color: #CDCDCD;

      @media screen and (max-width: 766px) {
        width: 80%;
        margin: 0 auto;
      }

      @media screen and (max-width: 380px) {
        width: auto;
        padding: 40px 0;
      }
    }

    .btn-form {
      @media screen and (max-width: 1080px) {
        text-align: center;
      }

      &__button {
        padding: 13px 40px;
        border: 2px solid #F1CDB3;
        background-color: #F1CDB3;
        transition: .6s ease;
  
        @media screen and (max-width: 1080px) {
          margin: 0 auto;
        }

        &:hover {
          background: #FDDCC4;
          border: 2px solid #FDDCC4;
        }

        &:active {
          background-color: #F1CDB3;
          border: 2px solid #F1CDB3;
        }
      }
    }
  }

  .puppy {
    max-width: 74vw;

    @media screen and (max-width: 1080px) {
      max-width: fit-content;
      width: fit-content;
      justify-self: right;
    }

    &__image {
      max-width: 100%;
      vertical-align: bottom;

      @media screen and (max-width: 1080px) {
        float: right;
        width: auto;
      }

      @media screen and (max-width: 380px) {
        padding: 6px 0 0;
      }
    }
  }
}