@font-face {
  font-family: "ArialBlack";
  src: url("../assets/fonts/arial-black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialBoldItalic";
  src: url("../assets/fonts/arial-bold-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialBold";
  src: url("../assets/fonts/arial-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialItalic";
  src: url("../assets/fonts/arial-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialNarrowBoldItalic";
  src: url("../assets/fonts/arial-narrow-bold-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialNarrowBold";
  src: url("../assets/fonts/arial-narrow-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialNarrowItalic";
  src: url("../assets/fonts/arial-narrow-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arial-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GeorgiaBoldItalic";
  src: url("../assets/fonts/georgia-bold-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GeorgiaBold";
  src: url("../assets/fonts/georgia-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GeorgiaItalic";
  src: url("../assets/fonts/georgia-italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/georgia-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}